.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


.logo{
  max-width: 60%;
  height: auto;


}
.imgtmbl {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 150px;
  margin: 5px;
  max-height: 300px ;
}
.navbar{background-color: white;
  max-height: 20%;
  border-bottom : 5px solid #a18d8c;
  border-radius: 4px;
  

}
.form-textarea{
  height:200px;
}

h4{margin: 10px;
font-size: 200%;
text-align: justify;
}
.addForm{
display: flex;
justify-self: left;
max-width:200px ;
padding :10px;
align-items: center;
max-height: 400px;
flex-wrap: wrap;
flex-direction: column;



}

.nav{border-bottom : 5px solid #a18d8c;
  border-radius: 4px;
  display: flex;
  justify-content:space-between;
}
.navbarcont{border-bottom : 5px solid #a18d8c;
  border-radius: 4px;
  display: flex;
  justify-content:space-between;



}
.form-upload{
  height:50px;width: 200px;
  border: none;

}




.menulink{
  color:#984706;
  color: blue;
  font-weight: bold;
  font-size: 250%;
  margin:5px;

}
.me-auto{

display: flex;
flex-wrap: wrap;

}

.d-block-w-100{  max-width: 80%;
  height: auto;}
  
.main-container{
display: flex;
align-items: center;
flex-direction: column;
margin: 5px;
background-color: white;

  }

p{font-family: 'Times New Roman', Times, serif
  ;
font-size: large;
text-align: justify;
margin:5px}

.container1{
  display: flex;
  flex-direction: row;
}
p::first-letter {
  font-size: 300%;
  color:red;
}
.imagetext{
margin:15px;
align-self: center;
}
.addanimal{
display: flex;
flex-direction: column;
width:200px ;




}
.btn-success{
  

  width: 200px;
  }
  .preview{
    max-width:75px ;
  }

  .img-wrap {
    position: relative;
    display: inline-block;
    border: 1px blue solid;
    font-size: 0;
    margin :15px;
    padding:10px;
    background-color: #c2b9f1;
}
.img-wrap .close {
    position: absolute;
    top: -2px;
    right: -2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}
.menulinkadmin{
  font-size: xx-large;
  font-family: cursive;
 
  margin: auto;

  text-decoration: underline overline;
  text-decoration-color: green;
  
}

.form-control2{
  width:400px;
  height: 100px;
}
.displaystory{
  margin: auto;
}


.btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}

.dogDetails{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  background-color: #61dafb;
}



.catDetails{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addanimal {
  display: grid; /* to use css-grid */
  grid-template-columns: 1fr 1fr 1fr; /* creates 2 columns */
  gap: 20px; /* creates a gap between the columns and rows */
  
}

.inputreturn{
   display: flex;

  flex-wrap: wrap;
  font-family: cursive;
width: 700px;
  border-radius: 10px;
  
  
  border: 4px solid #c2b9f1}

form h3,
form h4,
form p,
form button {
  grid-column: span 2; /* lets those elements span both columns */
}

.displayColumn {
  display: flex;
  flex-direction: column;
  /* flexbox is sued to palce the label and input below each other and allows the input to fill out the entrie width */
}

