.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}


.logo{
  max-width: 60%;
  height: auto;


}
.imgtmbl {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 150px;
  margin: 5px;
  max-height: 300px ;
}
.navbar{background-color: white;
  max-height: 20%;
  border-bottom : 5px solid #a18d8c;
  border-radius: 4px;
  

}

h4{margin: 10px;
font-size: 200%;
text-align: justify;
}

.nav{border-bottom : 5px solid #a18d8c;
  border-radius: 4px;
  display: flex;
  justify-content:space-between;
}
.navbarcont{border-bottom : 5px solid #a18d8c;
  border-radius: 4px;
  display: flex;
  justify-content:space-between;



}
.menulink{
  color:#984706;
  color: blue;
  font-weight: bold;
  font-size: 250%;
  margin:5px;

}
.me-auto{

display: flex;
flex-wrap: wrap;

}

.d-block-w-100{  max-width: 80%;
  height: auto;}
  
.main-container{
display: flex;
align-items: center;
flex-direction: column;
margin: 5px;
background-color: white;

  }

p{font-family: 'Times New Roman', Times, serif
  ;
font-size: large;
text-align: justify;
margin:5px;}

.container1{
  display: flex;
  flex-direction: row;
}
p::first-letter {
  font-size: 300%;
  color:red;
}
.imagetext{
margin:15px;
align-self: center;
}
